*{
    font-family: kumbh sans;
    letter-spacing: 2px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

li:hover {
    font-weight: 500;
}

.main-img {
    max-width: 300px;
}



/*botão add */

.btn btn-warning px-5 py-2 {
    background-color: hsl(26, 100%, 55%);
}

btn btn-warning px-5 py-2:hover {
    background-color: hsl(25, 100%, 94%)
} 