*{
    font-family: kumbh sans;
    letter-spacing: 1px;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

li:hover {
    font-weight: 500;
}

.main-img {
    max-width: 500px;
    border-radius: 15pt;
    margin-top: 100px;
    margin-bottom: 30px
}

.thumb-img {
    max-width: 100px;
    border-radius: 15pt;
    margin-right: 27px;
    cursor: pointer;
}


.container-2.col {
    padding-top: 150px;
}

.col__tag-product {
    padding-top: 10px;
    color: #ff7d1ae3;
}



/*botão add */

.btn.px-5.py-2 {
    background-color: #ff7d1af6;
}

btn btn-warning px-5 py-2:hover {
    background-color: hsl(25, 100%, 94%)
} 